<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    {{datasources}}
    <h2>Edit datasources</h2>
    <form id="form" method="post">
        <p>
            <label for="code">code</label>
            <input type="number" name="code" readonly value="{{datasources.code}}">
            </input>
        </p>
        <p>
            <label for="description">description</label>
            <input type="text" name='description' value="{{datasources.description}}"></input>
        </p>
        <p>
            <label>enumname</label>
            <select id='select' name='enumname'>
                <option id='1' value='NoAuth'>NoAuth</option>
                <option id='2' value='ApiKey'>ApiKey</option> 
                <option id='3' value='BearerToken'>BearerToken</option> 
                <option id='4' value='BasicAuth'>BasicAuth</option> 
              </select>
             
        </p>
        <p>
            <label for="httpaddress">httpaddress</label>
            <input type="text" name='httpaddress' value="{{datasources.httpaddress}}"></input>
        </p>
        <p>
            <label for="apibaseurl">apibaseurl</label>
            <input type="text" name='apibaseurl' value="{{datasources.apibaseurl}}"></input>
        </p>
        <p>
            <label for="apischemeurl">apischemeurl</label>
            <input type="text" name='apischemeurl' value="{{datasources.apischemeurl}}"></input>
        </p>
        <p>
            <label for="authorizationjson">authorizationjson</label>
            <input id= 'authorizationjson' name='authorizationjson' type="text" disabled value="{{datasources.authorizationjson}}"></input>
        </p>
        <p>
            <label for="autorizationlogin">autorizationlogin</label>
            <input id='autorizationlogin' type="text" name='autorizationlogin' disabled value="{{datasources.autorizationlogin}}"></input>
        </p>
        <p>
            <label for="autorizationpassword">autorizationpassword</label>
            <input name='autorizationpassword' id='autorizationpassword' type="text" disabled value="{{datasources.autorizationpassword}}"></input>
        </p>
        <p>
            <label for="autorizationtoken">autorizationtoken</label>
            <input name='autorizationtoken' id='autorizationtoken' type="text" disabled value="{{datasources.autorizationtoken}}"></input>
        </p>
        <p>
            <label for="marked_true">True</label>
            <input type="checkbox" id="marked_true" name="True" checked>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
        <script>var select = document.getElementById('select');
            var auth_type = '{{auth_type}}'
            var indexSelected = select.selectedIndex,
                  option = select.querySelectorAll('option')[indexSelected];
            var selectedValue = option.getAttribute('value');
            
            if (document.getElementById('1').value == auth_type) {
                document.getElementById('1').selected = true
                document.getElementById('autorizationlogin').disabled=true;
                document.getElementById('autorizationpassword').disabled=true;
                document.getElementById('authorizationjson').disabled=true;
                document.getElementById('autorizationtoken').disabled=true;
            };

            if (document.getElementById('2').value == auth_type) {
                document.getElementById('2').selected = true
                document.getElementById('autorizationlogin').disabled=true;
                document.getElementById('autorizationpassword').disabled=true;
                document.getElementById('authorizationjson').disabled=false;
                document.getElementById('autorizationtoken').disabled=true;
            };

            if (document.getElementById('3').value == auth_type) {
                document.getElementById('3').selected = true
                document.getElementById('autorizationlogin').disabled=true;
                document.getElementById('autorizationpassword').disabled=true;
                document.getElementById('authorizationjson').disabled=true;
                document.getElementById('autorizationtoken').disabled=false;
            };

            if (document.getElementById('4').value == auth_type) {
                document.getElementById('4').selected = true
                document.getElementById('autorizationlogin').disabled=false;
                document.getElementById('autorizationpassword').disabled=false;
                document.getElementById('authorizationjson').disabled=true;
                document.getElementById('autorizationtoken').disabled=true;
            };
            
            select.onchange = function() {
              var indexSelected = select.selectedIndex,
                  option = select.querySelectorAll('option')[indexSelected];
                  
              var selectedId = option.getAttribute('id');
              
              if (selectedId == '1') {
                document.getElementById('autorizationlogin').disabled=true;
                document.getElementById('autorizationpassword').disabled=true;
                document.getElementById('authorizationjson').disabled=true;
                document.getElementById('autorizationtoken').disabled=true;
              };

              if (selectedId == '2') {
                document.getElementById('autorizationlogin').disabled=true;
                document.getElementById('autorizationpassword').disabled=true;
                document.getElementById('authorizationjson').disabled=false;
                document.getElementById('autorizationtoken').disabled=true;
              };
              if (selectedId == '3') {
                document.getElementById('autorizationlogin').disabled=true;
                document.getElementById('autorizationpassword').disabled=true;
                document.getElementById('authorizationjson').disabled=true;
                document.getElementById('autorizationtoken').disabled=false;
              };
              if (selectedId == '4') {
                document.getElementById('autorizationlogin').disabled=false;
                document.getElementById('autorizationpassword').disabled=false;
                document.getElementById('authorizationjson').disabled=true;
                document.getElementById('autorizationtoken').disabled=true;
                }
            };
            var marked = '{{datasources.marked}}'
            if (marked == 'False') {
                document.getElementById('marked_true').checked=false;
            };
            </script>
    </form>
</body>
</html>